@tailwind base;

@layer base {
  html {
    @apply motion-safe:!scroll-smooth;
  }
  body {
    @apply bg-black-50 text-black dark:bg-black dark:text-white;
  }
  a:not([role='button']):not(.a-reset) {
    @apply border-b border-current font-medium opacity-80 hover:opacity-100 focus-visible:border-violet focus-visible:text-violet focus-visible:outline-none;
  }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .px-container {
    @apply px-6 lg:px-8;
  }
  .focus-default {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-violet focus-visible:ring-offset-2 focus-visible:ring-offset-white dark:focus-visible:ring-offset-black;
  }
  .prose-custom {
    @apply prose prose-lg prose-violet dark:prose-invert prose-a:no-underline;
  }
}

/** AutoLinks in Blog Posts */
h2[id],
h3[id],
h4[id],
h5[id] {
  position: relative;
}
h2[id]:hover > a > .icon-link:after,
h3[id]:hover > a > .icon-link:after,
h4[id]:hover > a > .icon-link:after,
h5[id]:hover > a > .icon-link:after {
  visibility: visible;
}
h2[id] > a > .icon-link,
h3[id] > a > .icon-link,
h4[id] > a > .icon-link,
h5[id] > a > .icon-link {
  position: absolute;
  top: 0;
  left: -1em;
  width: 100%;
  height: 2rem;
}
h2[id] > a > .icon-link:after,
h3[id] > a > .icon-link:after,
h4[id] > a > .icon-link:after,
h5[id] > a > .icon-link:after {
  visibility: hidden;
  content: '#';
  opacity: 0.25;
}
h2[id] > a > .icon-link:hover:after,
h3[id] > a > .icon-link:hover:after,
h4[id] > a > .icon-link:hover:after,
h5[id] > a > .icon-link:hover:after {
  visibility: visible;
}
